%full-height {
  height: 100%;
}

%full-width {
  width: 100%;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%grid-center {
  display: grid;
  place-content: center;
}

%video-ratio {
  aspect-ratio: 16 / 9;
}

%rl-vertical-from-bottom {
  writing-mode: vertical-rl;
  rotate: 180deg;
}
