// colors lightness and alpha value
$colors-lightness: 10%;
$colors-alpha: 0.8;

// breakpoint values
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// basic size value
$base-size: 1rem;
$base-increase: 0.25;
